* {
    margin: 0;
    border: 0;
    padding: 0;
}

@keyframes rotate {
    0% {
        opacity: 1;
        transform: rotateX(90deg);
    }

    50% {
        transform: rotateX(0);
    }

    100% {
        opacity: 1;
        transform: rotateX(-90deg);
    }
}
  
@keyframes scaleToCenter {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(0.9);
    }
}
  
@keyframes moveDown {
    0% {
        top: 0;
    }
    100% {
        top: 30rem;
    }
}

body {
    background-color: #1a1a21;
    display: flex;
    flex-direction: column;
    gap: 200px;
    
}

.menubar {
    display: flex;
    justify-content: center;
}

#dashboardRedirect {
    margin-left: 30px;
    margin-top: 30px;
    background-color: azure;
    border-radius: 10px;
    padding: 0px 15px;
}

#dashboardRedirect:hover {
    background-color: rgb(203, 215, 215);
}   

#userIcons {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 30px;
}

#userIcons > button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: azure;
}

#userIcons > button:hover {
    background-color: rgb(203, 215, 215);
}

#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
    height: calc(30rem * 0.8);
}

#mainContent .title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.infoContainer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.infoContainer h1 {
    padding: 10px;
    font-size: 40px;
    text-align: center;
}

.infoContainer h2 {
    /* padding: 10px; */
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.subcontainer {
    padding-bottom: 50px;
}
.wheel {
    width: 100%;
    height: calc(30rem * 0.8);
  }
  
  .line p {
    line-height: 0.8;
    padding: 0;
    margin: 0;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.75rem;
    white-space: nowrap;
    text-align: center;
  }
  
  
  
  @keyframes rotate {
    0% {
      opacity: 1;
      transform: rotateX(90deg);
    }
  
    50% {
      transform: rotateX(0);
    }
  
    100% {
      opacity: 1;
      transform: rotateX(-90deg);
    }
  }
  
  @keyframes scaleToCenter {
    0% {
      transform: scale(0.75);
    }
  
    50% {
      transform: scale(0.85);
    }
  
    100% {
      transform: scale(0.75);
    }
  }
  
  @keyframes moveDown {
    0% {
      top: 0;
    }
    100% {
      top: 17rem;
    }
  }
  
  .wheel {
    position: relative;
    margin-bottom: 150px;
  }
  
  .line {
    will-change: transform, opacity;
    width: 100%;
    animation:
      3s infinite forwards ease-in-out scaleToCenter,
      3s infinite forwards ease-in-out moveDown
    ;
    position: absolute;
  }
  
  .line p {
    opacity: 0;
    backface-visibility: hidden;
    animation: 3s infinite forwards linear rotate;
  }
  
  .line:nth-child(2), .line:nth-child(2) p { animation-delay: 0.15s }
  .line:nth-child(3), .line:nth-child(3) p { animation-delay: 0.3s }
  .line:nth-child(4), .line:nth-child(4) p { animation-delay: 0.45s }
  .line:nth-child(5), .line:nth-child(5) p { animation-delay: 0.6s }
  .line:nth-child(6), .line:nth-child(6) p { animation-delay: 0.75s }
  .line:nth-child(7), .line:nth-child(7) p { animation-delay: 0.9s }
  .line:nth-child(8), .line:nth-child(8) p { animation-delay: 1.05s }
  .line:nth-child(9), .line:nth-child(9) p { animation-delay: 1.2s }
  .line:nth-child(10), .line:nth-child(10) p { animation-delay: 1.35s }
  .line:nth-child(11), .line:nth-child(11) p { animation-delay: 1.5s }
  .line:nth-child(12), .line:nth-child(12) p { animation-delay: 1.65s }
  .line:nth-child(13), .line:nth-child(13) p { animation-delay: 1.8s }
  .line:nth-child(14), .line:nth-child(14) p { animation-delay: 1.95s }
  .line:nth-child(15), .line:nth-child(15) p { animation-delay: 2.1s }
  .line:nth-child(16), .line:nth-child(16) p { animation-delay: 2.25s }
  .line:nth-child(17), .line:nth-child(17) p { animation-delay: 2.4s }
  .line:nth-child(18), .line:nth-child(18) p { animation-delay: 2.55s }
  .line:nth-child(19), .line:nth-child(19) p { animation-delay: 2.7s }
  .line:nth-child(20), .line:nth-child(20) p { animation-delay: 2.85s }
  .line:nth-child(21), .line:nth-child(21) p { animation-delay: 3.0s }
  
  .line {
    perspective: 1200px;
    perspective-origin: center;
  }


  .infoContainer .scrollText {
    padding: 50px;
    padding-bottom: 200px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    
  }

 

  .infoContainer .scrollText h2 {
    font-size: 35px;
  }

  @keyframes appear {
    from {
        opacity: 0;
        /* scale: 0.5; */
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        /* scale: 1; */
        transform: translateY(0px);
    }
  }


