* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    
    

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(#ddfcf8, #77f9f9); 
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.title {
    padding-left: 5vw;
}

header {
    position: absolute;
    background-color: red;
}

.login_page {
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: rgb(247, 247, 247);
    box-shadow: 10px 20px 30px rgb(117, 117, 117);
    
    
}

.form-box_login {
    width: 100%;
    padding: 50px;
}

.form-box_login h2 {
    font-size: 2em;
    text-align: center;
}

.input_box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin: 30px 0;
    padding-top: 15px;
    padding-left: 5px;
    
    
}

/* .input_box label {
    
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    color: gray;
   
} */

.input_box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}



.input_box input:focus~label,
.input_box input:valid~label {
    top: -5px;
}

.remember-forgot label input{
    margin-right: 1.2vw;
}

.button_container {
    padding-top: 30px;
}

.btn {
    justify-content: center;
    width: 100%;
    border-radius: 40px;
    border: 1px;
    background-color: rgb(186, 237, 254);
    padding: 5px;
}

.login_page h3 {
    padding-top: 20px;
    font-size: 15px;
    text-align: right;
}

.link_container {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}
.link_container a {
    font-size: 0.9em;
    color: black;
    
}
