html {
    background-color: #1a1a21;
    margin: 2em;
}


body {
    color: #cad4da;
    font-family: monospace;
    text-align: center;
}

.header1 {
    background-color: #2f2f36;
}
.about {
    
    background-color:  #2f2f36;
}

.address {
    
    background-color: #2f2f36;
}